NODE_ENV=development
PORT=4000
JWT_EXPIRES_IN=1
FRONTEND_URL=http://localhost:3000
AUTH_SERVICE=http://auth-service:4001
COMMENT_SERVICE=http://comment-service:4002
LIKE_SERVICE=http://like-service:4003
PHOTO_SERVICE=http://photo-service:4004
LOGGING_SERVICE=http://logging-service:4005
INCIDENT_ANALYSIS_SERVICE=http://incident-analysis-service:4006
JWT_PUBLIC_KEY_PATH=/keys/jwt_rsa.pub
COOKIE_DOMAIN=
