NODE_ENV=development
PORT=4004
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DB=photo_service
AZURE_STORAGE_CONNECTION_STRING=azurite-connection-string
AZURE_CONTAINER_NAME=photos
COSMOS_STRING=
LOGGING_SERVICE=http://logging-service:4005
OPERATION_TIMEOUT=5000
# Flag to simulate photo service exception for testing purposes
SIMULATE_PHOTO_EXCEPTION=false
SIMULATE_STORAGE_DELAY=false