# Environment
NODE_ENV=production

# Logging service port
PORT=4005

# Local mongodb connection
MONGO_HOST=127.0.0.1
MONGO_PORT=27017
MONGO_DB=logging_service

# Production connection string (optional)
COSMOS_STRING=
